# Environment & Konfigurasi Sensitif (WAJIB)
.env
venv/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Editor / IDE
.vscode/
.idea/

# Storage & Folder Lokal (Sesuaikan dengan strukturmu)
storage/
test/
front-and/

# Berkas Kompresi / Sampah OS
back-and.zip
.DS_Store
Thumbs.db
Folder Tanpa Judul/
coba/
*.zip
test.py